* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole {
    min-width: 100px;
    min-height: 100px;
    width: 80%;
    height: 80vh;
    position: relative;
    border: 5px solid darkorange;
    border-radius: 10px;
    background-color: lightgreen;
}

.ball {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: brown;
    transition: all 1s ease-out;
}